{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            login
            {% endblock %}
        </title>
    </head>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div class="nav-bar">
            <a href="/" class="nav-link-main">Home</a>
            {% if user.is_authenticated %}
            <a href="/logout" class="nav-link-right">Logout</a>
            <a href="/Profile/{{request.user.username}}" class="nav-link-right">Profile</a>
            {% else %}
            <a href="/login" class="nav-link-right">Login</a>
            <a href="/register" class="nav-link-right">Signup</a>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
        <div id="app">

        </div>
    </body>
</html>